@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

:root {
    --primary-color: #72A0C1;
    --secondary-color: #6CB4EE;
    --accent-color: rgba(246, 142, 142, 0.3);
    --accent-color2: rgba(163, 158, 153, 0.7);

    --heading-font: Lato, sans-serif;
    --paragraph-font: Roboto, sans-serif;

    --nav-bar-background-color: rgba(235, 160, 160, 0.4);
    --nav-link-color: #000000;
    --nav-hover-link-color: #fcfafa;
    --nav-hover-background-color: #eb5151;
}

* {
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    align-items: center;
    max-width: 1000px;
    background-color: var(--accent-color);
    padding: 20px;
    margin-bottom: 20px;
}


h1, h2, h3, h4, h5, h6 {
    font-family: var(--paragraph-font);
}

h1 {
    position: absolute;
    top: 50px;
    right: 290px;
    padding: 10px;
}

h2 {
    text-align: center;
    margin: 15px;
    border-bottom: #000000 solid 1px;
}

p {
    padding: 10px;
    margin: 10px;
}

body {
    font-family: var(--paragraph-font);
    max-width: 800px;
    padding: 20px;
}

nav {
    font-size: 1.2rem;
    grid-column: 2/7;
    margin: 20px;
    padding: 20px;
}

nav a {
    display:inline;
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

ul {
    list-style: none;
}

article {
    position: absolute;
    top: 120px;
    left: 20px;
    right: 20px;
    background-color: var(--accent-color2);
    text-align: center;
}

article img {
    float: right;
    padding: 10px;
}

article p {
    text-align: left;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 1000px;
    margin-top: 30px;
    background-color: var(--accent-color);
}


/*Styling Classes*/

.hero {
    position: relative;
}

.nav-link {
    display: flex;
    justify-content: space-evenly;
}

.history-section p {
    grid-row: 1;
    text-align: left;
}

.history-section img {
    grid-column: 2/3;
    grid-row: 1;
    margin: 18px;
}

figcaption {
    text-align: center;
}


.history-section {
    display: grid;
    grid-gap: 10px;
}

.adventure-section {
    display: grid; 
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    align-items: center;   
}

.adventure-section img {
    width: 200px;
    height: 200px;
    grid-column: 1;
    grid-row: 2;
}




