@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

:root {
    --primary-color: #72A0C1;
    --secondary-color: #6CB4EE;
    --accent-color: #555555;
    --accent-color2: #3B3C36;

    --heading-font: 'Lato', sans-serif;
    --paragraph-font: 'Roboto', sans-serif;

    --nav-bar-background-color: #6699CC;
    --nav-link-color: #7BAFD4;
    --nav-hover-link-color: #49504c;
    --nav-hover-background-color: #4e5c55;
}

body {
    font-family: var(--paragraph-font);
    max-width: 980px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--paragraph-font);
}

header {
   padding: 20px;
   background-color:var(--accent-color); 
}

p {
    padding: 20px;
}

nav {
    background-color: var(--nav-bar-background-color) ;
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
